<div id="<%= dom_id debt %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= debt.name %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Owner:</strong>
    <%= debt.owner %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Category:</strong>
    <%= debt.category %>
  </p>
  <p class="my-5">
    <strong class="block font-medium mb-1">Starting balance:</strong>
    <%= debt.debt_values.last.amount %>
  </p>
  <% if action_name != "show" %>
    <%= link_to 'Edit this debt', edit_admin_debt_path(debt), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
